name: ischool

channels:
  - conda-forge

dependencies:
  # Items required for basic level functionality
  - gh-scoped-creds==4.1
  - git==2.49.0
  - jupyter-archive==3.4.0
  - jupyter-offlinenotebook==0.3.1
  - jupyter-resource-usage==1.1.1
  - jupyter-server-proxy==4.4.0
  - jupyter_server==2.16.0 
  - jupyterhub==5.3.0
  - jupyterlab==4.4.2
  - jupyterlab-git==0.51.1
  - jupyterlab_rise==0.43.1
  - jupytext==1.17.1
  - nbgitpuller==1.2.2
  - notebook==7.4.2
  - otter-grader==6.1.3
  - pip==25.1.1  
  - python==3.11.*
  - wrapt==1.17.3

  # vscode
  - code-server==4.96.2
  - jupyter-vscode-proxy==0.6

  # other packages
  - syncthing==1.29.2
  - jupyter-rsession-proxy==2.2.1
  - jupyter-syncthing-proxy==1.0.3
  - traitlets==5.14.3
  - appmode==1.0.0
  - ipywidgets==8.1.5

  - pip:
    # DH-327
    - nbconvert[webpdf]==7.16.6
    # for notebook exporting
    - nb2pdf==0.6.2
    - nbpdfexport==0.2.1
    # from infra-requirements
    - git+https://github.com/shaneknapp/python-popularity-contest.git@add-error-handling
    - git-credential-helpers==0.2
